body {
	background-color: #f9f5f1;
}



.container {
	text-align: center;
	justify-content: center;
	padding: 20px;
}

.table {
	border: 3px solid #f4cac0;
}


h1, h2, h5, h6 {
	color: #dca698;
}

img {
	padding: 5px;
}


.btn {
  border: #f4cac0; solid;
  background-color: #f4cac0;
}

hr {
  border-top: 5px solid #dca698;
}